body {
  margin: 0;
}

header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  background-color: #3c3a39;
}

header .title {
  font-weight: 700;
  color: #fff;
  margin: 19px auto 19px 24px;
}

.hamburguer-button {
  margin: 19px 24px 19px auto;
}

.hamburguer-button .bar {
  width: 16px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  border-radius: 10px;
}

.headline {
  background-image: url(media/Illustration.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 100px 25px 35px;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.headline h1 {
  font-family: Crete Round;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  font-family: serif;
  color: #ff6b00;
  margin: 0 auto auto 0;
}

.headline .title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff5e1;
  line-height: 32px;
  margin: 10px 0;
}

.headline .description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.headline .social-icons {
  display: flex;
  fill: #fff5e1;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 130px;
}

.recent-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,fr);
}

.recent-works .title {
  
}

.recent-works .title .text {
  
  font-family: Crete Round;
  font-weight: 400;
  font-size: 40px;
}